.countdown {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content min-content 75px min-content;
}

.numberDisplay {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.buttonLeft {
  grid-column: 1;
  grid-row: 4;
  margin: auto auto auto 0;
}

.buttonRight {
  grid-column: 3;
  grid-row: 4;
  margin: auto 0 auto auto;
}

.buttonCenter {
  grid-column: 2;
  grid-row: 4;
  margin: auto auto auto auto;
}

.controlButton {
  width: 50px;
  height: 50px;
  font-size: 2em;
  border: none;
  background-color: #ffffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggleButton {
  font-size: 1.8em;
  border: none;
  color: dodgerblue;
  background-color: #ffffffff;
  padding: 0 3px 0 3px;
}

.toggleButton:hover {
  background: darken(dodgerblue, 10%);
  -webkit-animation: wiggle 0.3s alternate ease infinite;
  animation: wiggle 0.3s alternate ease infinite;
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotate(-10deg);
  }
  to {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes wiggle {
  from {
    transform: rotate(-10deg);
  }
  to {
    transform: rotate(10deg);
  }
}

.buttonIncrementSeconds {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
}

.buttonIncrementMinutes {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.buttonIncrementHours {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
}
.buttonDecrementSeconds {
  grid-column: 3;
  grid-row: 3;
  justify-self: end;
}

.buttonDecrementMinutes {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

.buttonDecrementHours {
  grid-column: 1;
  grid-row: 3;
  justify-self: start;
}

.displayDigits {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 3.5em;
}

.displayTimes {
  grid-column: 1 / span 3;
  grid-row: 5;
  background-color: greenyellow;
  border: 3px solid black;
  border-radius: 5px;
}

.timeData {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 1.4em;
}

.timeDataControls {
  float: right;
}

.displayTimes button {
  font-size: 1.2em;
  border: none;
  background-color: greenyellow;
  padding: 3px;
}

.displayTimes table {
  width: 100%;
}

/* Tooltip container */
.tooltip {
  position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  padding: 3px;
  border-radius: 6px;
  font-size: 10px;

  /* Position the tooltip text */
  position: absolute;
  bottom: 100%;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
